<footer class="pt-3">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col text-center">
				<h2 class="footer-heading mb-3">
					<div>Smite Fantasy League</div>
				</h2>
				<ul>
					<li class="nav-item" routerLinkActive="active">
						<a routerLink="/draft">Create a Draft</a>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<a routerLink="/players">Players</a>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<a routerLink="/teams">Teams</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<p>This project is created by <a href="https://github.com/https://github.com/ParryTotato">SpaceSpace</a> and <a href="https://github.com/apbrodnicki">Elegy</a> for the Smite community.</p>
			</div>
		</div>
	</div>
</footer>