<div align="center" class="row filters">
	<div class="col">Filter by role:</div>
	<div class="col filter" (click)="onSortRole('all')">All</div>
	<div class="col filter" (click)="onSortRole('Hunter')">Carry</div>
	<div class="col filter" (click)="onSortRole('Support')">Support</div>
	<div class="col filter" (click)="onSortRole('Mid')">Mid</div>
	<div class="col filter" (click)="onSortRole('Jungle')">Jungle</div>
	<div class="col filter" (click)="onSortRole('Solo')">Solo</div>
</div>
<hr />
<table class="table table-striped">
	<thead>
		<tr>
			<th class="th-sm" scope="col"></th>
			<th class="th-sm" scope="col">Player</th>
			<th class="th-sm" scope="col">Role</th>
			<th class="th-sm" scope="col">Team</th>
			<th class="th-sm filter" scope="col" (click)="onSortPoints()">Points</th>
			<th class="th-sm" scope="col">Draft Player</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let player of sortedPlayers">
			<td *ngIf="player !== undefined"><img src="/assets/img/players/{{ player.imagePath }}.png"  onerror="this.src='/assets/img/players/empty.png'" alt="player" width="100" height="100"></td>
			<th *ngIf="player !== undefined" scope="row">{{ player.playerName }}</th>
			<td *ngIf="player !== undefined">{{ player.role === 'Hunter' ? 'Carry' : player.role }}</td>
			<td *ngIf="player !== undefined">{{ player.team_name }}</td>
			<td *ngIf="player !== undefined">{{ player.points }}</td>
			<td *ngIf="player !== undefined"><button class="btn btn-primary" (click)="onDraftPlayer(player)">Draft</button></td>
		</tr>
	</tbody>
</table>
